<div class="header" style="text-align:center;">
  <h1>Crud App</h1>
  <div class="form">
    <input type="text" placeholder="add wish" [(ngModel)]="model.wish" >
    <button (click)="add()">Add</button>
    <!-- <button (click)="update()">Add</button> -->

  </div>
  <div class="list">
    <ul *ngFor="let d of data; index as i">
      <li> {{i}} - {{d.wish}} 
        <button (click)="Editwish(i)">Edit</button>
        <button (click)="deletewish(i)">delete</button></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>